{% extends "headers.html" %}

{% load static %}

    {% block contenido %}
    <title>Blog Form</title>
    <link rel="stylesheet" href="{%static 'css/estiloFormBlog.css'%}">
    <body>
        <div class="hero">
            <form action="/Accounts/create_estudiantes/" method="POST">{% csrf_token %}
                <center><h4>Registro Estudiantil</h4></center><br>  
                <div class="input-group">
                    <input type="text" name="nombre" id="titulo"required>
                    <label for="titulo">Nombre</label>
                </div>
                <div class="input-group">
                    <input type="password" name="password" id="subtitulo"required>
                    <label for="subtitulo">Contraseña</label>
                </div>
                <div class="input-group">
                    <input type="text" name="email" id="autor"required>
                    <label for="autor">Email</label>
                </div>
                <button type="Submit"> Submit</button>
            </form>
        </div>

    </body>

    {% endblock %}