{% extends "headers.html" %}

{% load static %}

    {% block contenido %}
    <title>Estudiantes</title>
    <link rel="stylesheet" href="{%static 'css/estiloReadEstudiantes.css'%}">
    <center><h1>Listado de Estudiantes</h1></center><br>
    <head>
        <body>
        <div class="wrapper-grid">
            {% for estudiante in estudiantes %}
                <div class="container-img">
                    <div class="banner-img"></div>
                    <br>
                    <h1 class="name">Nombre: {{estudiante.nombre}}</h1>
                    <h1 class="email">Email:{{estudiante.email}}</h1><br>
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <a href="/Accounts/update_estudiantes/{{estudiante.email}}" class="btn btn-outline-primary">Editar</a>
                        <a href="/Accounts/delete_estudiantes/{{estudiante.email}}" class="btn btn-outline-danger">Eliminar</a>
                      </div>
                    <br><br>
                </div>
            {% endfor %}
        </div>
        <br><center><a type="button" class="btn btn-outline-success" href="/Accounts/signup/">Agregar Estudiante</a></center>
    </body>

    {% endblock %}