{% extends "headers.html" %}

{% load static %}

    {% block contenido %}
    <title>Actualizar</title>
    <link rel="stylesheet" href="{%static 'css/estiloFormBlog.css'%}">
    <body>
        <div class="hero">
            <form  method="POST">{% csrf_token %}
                <center><h4>Actualización Registro</h4></center><br>  
                    <table>
                        {{formulario.as_p}}
                    </table>
                <button type="Submit" class="btn btn-outline-success"> Actualizar</button>
            </form>
        </div>

    </body>

    {% endblock %}