{% extends "headers.html" %}

{% load static %}

    {% block contenido %}
        <title>About Us</title>
        <link rel="stylesheet" href="{%static 'css/estiloAboutUs.css'%}"> 
        <head>
            <link rel ="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700">
        </head>

        <body>
            <center>
                <div class="container-img">
                    <div class="banner-img"></div>
                        <br><img src="https://cdn-icons-png.flaticon.com/512/2118/2118630.png" alt="profile picture" class="profile-img">
                        <br><h1 style ="font-size: 50px" class = "name">Daniela Robayo</h1>
                        <center><p style ="text-align: justify center ;font-size: 15px"class="description">Self-motivated Industrial Engineer with a major in Production. I contributed to deployment systems launch worldwide and <br>conducted functional requirement analysis for identifying cus-tomer needs and priorities for the business. Exceptional <br>analytical skills, attention to detail and deductive reasoning. Among my areas of expertise are inventory management, <br>procurement and process and project management. Proactive, willing to learn person and attracted by teamwork.<br> Knowledge in SAP, advanced Excel, MongoDB, Python and C++. As a passionate individual with a keen interest project <br> management and data analytics, I combine a logical approach with storytelling to develop optimal solution.</p></center>
                </div>
            </center>
        </body>
    {% endblock %}