{% extends "headers.html" %}

{% load static %}

    {% block contenido %}
    <title>Blog Form</title>
    <link rel="stylesheet" href="{%static 'css/estiloPages.css'%}">
    <center><h1>Detalle</h1></center><br>
    <head>
        <body>
                <div class="container-img">
                    <div class="banner-img"></div>
                        <br>
                            {% if blogs%} 
                                {% for entry in blogs %} 
                                    <h1 class="name">Título: {{entry.titulo}}</h1>
                                    <h1 class="email">Subtítulo: {{entry.subtitulo}}</h1>
                                    <h1 class="email">Autor: {{entry.autor}}</h1>
                                    <!--<h1 class="email">Fecha: {{entry.fecha}}</h1>-->
                                    <h1 class="email">Cuerpo: {{entry.cuerpo}}</h1>
                                {% endfor %}
                            {% endif %}
                        <br>    
                        <a type="button" href="/BlogPage/pages/" class="btn btn-outline-warning">Regresar</a>
                        <br><br>
                    </div>
                </div>
    </body>

    {% endblock %}