{% extends "headers.html" %}

{% load static %}

    {% block contenido %}
    <title>Blog Form</title>
    <link rel="stylesheet" href="{%static 'css/estiloFormBlog.css'%}">
    <body>
        <div class="hero">
            <form action="/BlogPage/formBlog/" method="POST">{% csrf_token %}
                <h1><center>Blog</center></h1><br>
                <div class="input-group">
                    <input type="text" name="titulo" id="titulo"required>
                    <label for="titulo">Título</label>
                </div>
                <div class="input-group">
                    <input type="text" name="subtitulo" id="subtitulo"required>
                    <label for="subtitulo">Subtítulo</label>
                </div>
                <div class="input-group">
                    <input type="text" name="autor" id="autor"required>
                    <label for="autor">Autor</label>
                </div>
                <!--<div class="input-group">
                    <input type="date" name="fecha" id="fecha"required>
                    <label for="fecha"></label>
                </div>-->
                <div class="input-group">
                    <textarea id="cuerpo" name="cuerpo" row="10" required></textarea>
                    <label for="cuerpo">Cuerpo Blog</label>
                </div>
                
                <button type="Submit"> Submit</button>
            </form>
        </div>

    </body>

    {% endblock %}