{% extends "headers.html" %}

{% load static %}

    {% block contenido %}
    <title>Blogs</title>
    <link rel="stylesheet" href="{%static 'css/estiloPages.css'%}">
    <center><h1>Listado de Blogs</h1></center><br>
    <head>
        <body>
            <div class="wrapper-grid">
                {% for blog in blogs %}
                    <div class="container-img">
                        <div class="banner-img"></div>
                            <br>
                            <h1 class="name">Título: {{blog.titulo}}</h1>
                            <h1 class="email">Subtítulo:{{blog.subtitulo}}</h1>
                            <h1 class="email">Autor:{{blog.autor}}</h1><br>
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <a type="button" href="/BlogPage/update_blog/{{blog.titulo}}" class="btn btn-outline-danger">Editar</a>
                                <a type="button" href="/BlogPage/display_blog/{{blog.titulo}}" class="btn btn-outline-primary">Leer más</a>
                                <a href="/BlogPage/delete_blog/{{blog.titulo}} "type="button" class="btn btn-outline-danger">Eliminar</a>
                            </div><br><br>
                    </div>
                {% endfor %}
            </div>
            <!--<br><center><a type="button" class="btn btn-outline-success" href="/Accounts/create_estudiantes">Agregar Estudiante</a></center>-->
        </body>

    {% endblock %}